<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/styles/reset.css"> -->
    <link rel="stylesheet" href="/styles/layout.css">
        <!-- Ubuntu styling -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sigmar&family=Teko:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <!--Skills and achievments-->
    <!-- add in nav, figure, figcaption, footer, article and header -->
    <header class="header">
        <a href="#" class="logo">Hakim.</a>

        <nav class="navbar">
            <a href="../index.html" class="active">Home</a>
            <a href="about.html">About</a>
            <a href="portfolio.html">Portfolio</a>
            <a href="education.html">Education</a>
            <a href="login.html">Login</a>
            <a href="blog.html">Blog</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>
    <!-- Talk about the programming languages you know and the projects you have worked on. -->
</body>
</html>